/* Styled by Nicole and Bema */

#page_wrapper {
  background: #eee;
  height: 100vh;
  display: flex;
  align-items: center;
}


#language a{
  padding: 10px;
}


#main_wrapper{
  display: flex;
  height:100%;
}

#page{
  flex-grow: 1;
}

#page_head{
  display: flex;
  padding: 15px 30px;
}

#page_body{
  display: block;
  flex-grow: 1;
}

#page_info{
  flex-grow: 1;
}

#page_info h1{
  display: inline-block;
  font-size: 180%;
}

#page_info p{
  opacity: 0.6;
}

#page_actions{
  border-radius: 5px;
  background-color: #f2b800;
  padding: 12px;
  width: 70px;
  height: 40px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 20px;
}

#page_actions a{
  color: white;
}

#new_calls_info{
  padding: 20px;
  flex-grow: 1;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#cancel_button{
  border-radius: 5px;
  background-color: #f2b800;
  padding: 10px;
  width: 85px;
  height: 40px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 15px;
}


#cancel_button a{
  color: white;
}

#caller_search_panel{
  flex-grow: 1;
  padding: 30px;
  width: 350px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
}

#caller_search_panel label{
  display:block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

#caller_search_panel input{
  display:block;
  border-radius: 5px;
  padding: 8px;
  font-size: 130%;
  width: 270px;
}

#main_call_form{
  display: inline-block;
  flex-grow:1;
}
