* {
  box-sizing: border-box; }

body {
  font-family: "Noto Sans", Sans-Serif;
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased;
}

a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6, p, li {
  color: rgba(0, 0, 0, 0.8); }

p {
  line-height: 1.5rem; }

.hidden {
  display: none; }

[data-url] {
  cursor: pointer; }
