#form_wrapper {
  width: 450px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 40px;
  margin: 0 auto;
  height: 450px;
}

form.narrow_form {
  max-width: 500px;
  margin: 50px auto;
  box-shadow: 0 1px 8px 1px rgba(0,0,0,0.3);
  padding: 40px;
  border-radius: 5px;
}


.field label {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
  font-size: 0.8rem;
  display: block;
}

.field input, .field select {
  background: white;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
}

.field textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  padding: 10px;
}

.actions input[type=submit]{
  border-radius: 3px;
  background-color: #f2b800;
  color:white;
  border:0px;
  margin-top: 15px;
}


.form_errors {
  margin-bottom: 25px;
}
