/* Styled by Bema - contains styling for tables on all pages*/

table.index_table{
  border-collapse: collapse;
  width: 100%;
  font-size: 0.8rem;
  font-family: "Noto Sans", Sans-Serif;

}

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    width: 800px;
    flex-grow: 1;
}

th {
    background-color: #a8abaf;
    border: 1px solid #888;
    font-family: "Noto Sans", Sans-Serif;
    padding: 10px 15px;
    position: relative;
    max-height: 20px;

}

th.narrow_column {
  width: 1px;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 15px 15px;
    position: relative;
}

tr:nth-child(odd) {
    background: #f1f1f1
}

tr:hover {
    background-color: rgba(242, 184, 0, 0.15);
}
